extends layout

block content
	.aboutPage
		.row
			.col-md-5 
				.tags Hire Me <br/>
				.bio Hi, I'm Brandon. I'm a freelance web developer specializing in full-stack JavaScript web development and I have years of experience in structuring, developing, and implementing interactive websites and applications. I can create an entire website for you from design to deployment and <b>MOST IMPORTANTLY</b>, I can improve your customer's experience to keep them coming back to your website.
			.col-md-4 
				.tags Areas of Expertise <br/>
				.bio.contactInfo -Web Development <br>-Visual Design <br>-UI/UX Design <br>-Search Engine Optimization <br>-Web Applications <br>-Single Page	 Applications <br>-Content Management Systems <br>-Server Side Scripting <br>-Database Driven Applications <br>-Data Visualization 
			.col-md-3 
				.tags Contact <br/>
				.bio.contactInfo Phone: (404)989-7557 <br> Email: emersonbrandon0@gmail.com