doctype html
html
	head
		title JavaScript Freelancer
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Domine')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:200,400')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
		link(rel='icon', href='images/favicon.ico', type='image/x-icon')
	body
		nav
			ul.topNav
				li
					a.menu(href="/") Recent Posts /
				li
					a.menu(href="/posts/add") Add Post /
				li
					a.menu(href="/categories/add") Add Category /
				li
					a.menu(href="/about") About
		.container
			block content
		.footer
			&nbsp Thank you for visiting 
			.blogFooter Everything at Once 
			! &copy 2017
			a.adminLogin(href="/admin/login") Admin Login